.Parent{
    height: 100%;
    width:100%;
    background-color:#faf8f7;
    background-image: url("https://www.transparenttextures.com/patterns/food.png");

    font-family: 'Arima Madurai', cursive;
}
.ingredientTable{
    border-spacing: 1em;
}
