.Parent{
    height: 100%;
    width:100%;
    background-color:#faf8f7;
    background-image: url("https://www.transparenttextures.com/patterns/food.png");

    font-family: 'Arima Madurai', cursive;
    padding-top: 0px;
    padding-left: 20px;
    margin-top: 0px;
}
.name{
    padding-top: 20px;
    margin-top: 0px;
}
.ingredientTable{
    border-spacing: 1em;
}
.methodOl{
    margin-right: 16px;
}
@media(max-width:320px){
    .ingredientTable{
        font-size: 12px;
    }
    .methodOl{
        font-size: 12px;
    }
}