 .searchParent{
     position: relative; 
 } 
 .searchParent input{
     /* position: relative; */
    background-color: transparent;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    width: 170px;
    height: 30px;
    outline: none;
    font-family: 'Arima Madurai', cursive;
    letter-spacing: 3px;
    font-size: 15px;
    padding-left: 10px;
    
}
/* .i{
    height: 30px;
    width:40px;
    background-color: teal;
    position: absolute;
    padding-inline: 50px;
    top:2px;
    right:300px;
} */

.searchDropDown{
    width:172px;
    /* height: 200px; */
    background-color: teal;
    position: absolute;
    border-left: black solid 1px;
    border-right: black solid 1px;
    border-radius: 5px;
}
.searchDropDown ul{
    padding-left: 0px;
}
.searchList{
    border-bottom:1px solid black;
    padding-left: 10px;
}
.noresults{
    width:166px;
    /* height: 35px; */
    padding: 8px;
    background-color: teal;
    position: absolute;
    border-left: black solid 1px;
    border-right: black solid 1px;
    border-bottom: black solid 1px;
    border-radius: 5px;
}
   