.navParent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
    border: 1px solid black;
    padding: 0;
    font-family: cursive;
    color: black;
}
.logo{
    
    position: absolute;
    left:5vh;
    bottom:87vh;
}
.navItems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 70%;
    position: absolute;
    right: 5vh;
    bottom:89vh;
    font-size: 15px;
    font-weight: 700;
}


input {
    outline: none;
    font-family: cursive;
    letter-spacing: 3px;
    font-size: 15px;
}

.navParent a {
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
}

.navParent li {
    list-style: none;
}

.fa-bars {
    display: none;
    position: absolute;
    right:50px;
    font-size: 2em;
}
.dropDown ul{
    display: flex;
    flex-direction: column;
    background-color: burlywood;
   position:absolute;
   right: 0px;
}

@media (max-width:1068px) {
    .navItems {
        display: none;
    }
    .fa-bars {
        display: inline-block;
    }
}
@media (min-width:1068px){
    .dropDown{
        display: none;
    }
}