.navParent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0 20px;
    position: relative;
    color: black;
    background-color: cadetblue;

}
.logo{
    /* font-size: 30px; */
    font-family: 'Sofia', cursive;
}
.navItems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 70%;
    /* position: absolute;
    right: 5vh;
    bottom:89vh; */
    font-family: 'Arima Madurai', cursive;
    font-size: 15px;
    font-weight: 700;  
}
.navParent li {
    list-style: none;
}

.fa-bars {
    display: none;
    font-size: 2em;
}
.dropdownParent{
    background-color: #8f8f8c;
    background-image: linear-gradient(rgba(125, 240, 240, 0.2),rgba(138, 243, 247, 0.2)),
                        url("https://www.transparenttextures.com/patterns/classy-fabric.png");
    width:100%;
    height: 100vh;
    position:absolute;
    left: 0px;
    top:94px;
   
}
.dropdown {
    font-family: 'Arima Madurai', cursive;
    background-color: cadetblue;
    width: 50%;
    height: 100vh;
   position:absolute;
   right: 0px;
   vertical-align: middle;
}

.dropdown li{
    padding: 25px;
    
}


@media (max-width:768px) {
    .navItems {
        display: none;
    }
    .fa-bars {
        display: inline-block;
    }
    /* body{
        overflow-y: hidden;
    } */
}
@media (min-width:1024px){
    .dropdownParent{
        display: none;
    }
}
@media(max-width:700px){
    .dropdown{
        width: 100%;
    }
}