.navParent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0 20px;
    position: relative;
    color: black;
    background-color: cadetblue;

}
.logo{
    
    /* position: absolute;
    left:5vh;
    bottom:87vh; */
    font-family: 'Sofia', cursive;
}
.navItems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 70%;
    /* position: absolute;
    right: 5vh;
    bottom:89vh; */
    font-family: 'Arima Madurai', cursive;
    font-size: 15px;
    font-weight: 700;
   
}
.navItems .fa-search{
    position: relative;
    right: 20px;

}


.navItems input {
    outline: none;
    font-family: cursive;
    letter-spacing: 3px;
    font-size: 15px;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 5px;
    width:170px;
    height: 30px;
}

.navParent a {
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
}

.navParent li {
    list-style: none;
}

.fa-bars {
    display: none;
    font-size: 2em;
}
.dropdownParent{
    background-color: #8f8f8c;
    background-image: linear-gradient(rgba(125, 240, 240, 0.2),rgba(138, 243, 247, 0.2)),
                        url("https://www.transparenttextures.com/patterns/classy-fabric.png");
    width:100%;
    height: 100vh;
    /* background-color:brown; */

    position:absolute;
    left: 0px;
    top:94px;
    z-index: 1;
}
.dropdown {
    font-family: 'Arima Madurai', cursive;
    background-color: cadetblue;
    width: 50%;
    height: 100vh;
   position:absolute;
   right: 0px;
   z-index: 2;
   vertical-align: middle;
   
}

.dropdown li{
    padding: 25px;
    
}


.dropdown .search input{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    width: 170px;
    height: 30px;
}
.dropdown .search .fa-search{
    position: absolute;
    right: 220px;
    top: 49px;
   
}


@media (max-width:1068px) {
    .navItems {
        display: none;
    }
    .fa-bars {
        display: inline-block;
    }
    /* body{
        overflow-y: hidden;
    } */
}
@media (min-width:1069px){
    .dropdownParent{
        display: none;
    }
}