.recipeParent{
    height: 450px;
    /* width: 30%; */
    border:solid 1px green;
    margin :10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.recipeParent img{
  width:auto;
  height: 60%;
}
.recipeParent h3{
   font-size: 2em;
   font-family: 'Arima Madurai', cursive;
}
.recipeParent h5{
    /* flex-grow: 1; */
    font-size: 1em;
    font-family: 'Arima Madurai', cursive;
}