.recipeParent{
    height:200px;
    width:200px;
  
    border:solid 1px green;
    margin :10px;
    padding: 5px;
    /* display: flex;
    flex-direction: column; */

    font-size: 1em;
    font-family: 'Arima Madurai', cursive;
    position: relative;
}

.recipeImg{
  align-self: center;
  height: 200px;
}
.recipeDescription{
  width: auto;
  position:absolute;
  color:whitesmoke;
  bottom:50px;
  height: 100px;
  padding: 15px;
}
.recipeDescription h3{
  font-size: 30px;
}
a{
  text-decoration: none;
  color:black;
}

