.recipeParent{
    height:350px;
    width:200px;
  
    border:solid 1px green;
    margin :10px;
    padding: 5px;
    /* display: flex;
    flex-direction: column; */

    font-size: 1em;
    font-family: 'Arima Madurai', cursive;
}

.recipeImg{
  align-self: center;
  height: 200px;
}
.recipeDescription{
  width: auto;
  height: 100px;
  padding: 15px;
}

