.sectionParent{

    width:100%;
    height: auto;
    border: solid 1px black;
    padding: 20px;
}
.sectionParent h2{
    font-size: 2em;
    font-family: sans-serif;

}
.sectionChildren{
    display: flex;
    flex-wrap: wrap;
}