.sectionParent{
margin-top: 0px;
padding-top: 0px;
    height: auto;
    border-top: solid 1px black;
    padding: 20px;
    background-color:#f6fafa;
    background-image: url("https://www.transparenttextures.com/patterns/food.png");
}
.sectionParent h2{
    font-size: 2em;
    font-family: 'Arima Madurai', cursive;

}
.sectionChildren{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.recipeParent {
    flex-basis: 45%;
}

@media screen and (min-width: 768px) {
    .recipeParent{
        flex-basis: 20%;
    }
}


/* @media (max-width: 768px) {
    .recipeParent {
        flex-basis: 45%;
    }
} */
